<% [0.25, 0.50, 0.75, 1].each_with_index do |multiplier, index| %>
  <% prospect_count = (@prospect_size.size * multiplier).to_i %>
    <div class="card_edit">
      <h2 class="card-title_edit">For <%= prospect_count %> Prospects</h2>
        <ul class="card-list_edit">
          <% @research.options.each do |option| %>
            <li class="card-item_edit border-bottom"><%= option.feature.title %> : <%= option.value %></li>
          <% end %>
            <% if @research.feature_ids.include?(Feature.find_by(title: "Age").id) %>
              <li class="card-item_edit border-bottom">Age : <%= @filter_age_min %> years old to <%= @filter_age_max %> years old</li>
            <% end %>
        </ul>
        <p>price : <%= (0.18 * prospect_count).to_i %>$</p>
          <%= simple_form_for @research, url: research_path(@research) do |f|%>
            <%= f.hidden_field :prospect_count, value: prospect_count %>
            <%= f.button :submit, "select this formula", class: "select-button_edit" %>
          <% end %>
      </div>
  <% end %>
