<div class="container mt-5">
  <div class="mb-4">
    <h1 class="text-center">Your Databases</h1>
  </div>
  <div class="row">
    <% @researches_grouped.each do |research_grouped| %>
      <div class="col-12 mb-4">
        <div class="border p-4 rounded shadow position-relative">
          <div class="d-flex justify-content-between">
            <div>
              <h2>Database: <%= research_grouped[:research].id %></h2>
              <p>Nombre de prospects trouvés: <%= research_grouped[:research].prospect_count %></p>
            </div>
            <%= link_to "Access Content", research_path(research_grouped[:research]), class: "btn btn-primary position-absolute", style: "right: 30px; top: 4px;" %>
          </div>

          <div class="d-flex align-items-center flex-wrap mb-3">
            <% research_grouped[:grouped_options].each do |feature, options| %>
              <span class="me-3" style="font-weight: bold; color: #343a40;"><%= feature.title %>:</span>
              <span class="me-3"><%= options.map { |option| option.value }.join(', ') %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
