<div class="container researcheshow">
  <div class="row mb-4 mt-3 rounded">
    <div class="col-md-12">
      <div class="researchesshowyour border p-3 rounded shadow">
        <h1 class="display-3">Your Database</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="border p-4 mb-4 rounded shadow">
        <h4>Filtres:</h4>
        <ul class="researchesshow list-group">
          <% grouped_options = @research.filters.includes(:feature, :option).group_by { |filter| filter.feature.title }.transform_values do |filters|
               filters.map { |filter| filter.option.value }.uniq
             end
          %>
          <% grouped_options.each do |feature_title, options_values| %>
            <li class="list-group-item">
              <strong><%= feature_title %> :</strong> <%= options_values.join(', ') %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <div class="border p-4 rounded shadow mb-4">
        <h2 class="mb-3">Prospects</h2>
        <div class="researchesshow">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <% @prospects.each do |prospect| %>
                <tr>
                  <td><%= prospect.first_name %></td>
                  <td><%= prospect.last_name %></td>
                  <td><%= prospect.address %></td>
                  <td><%= prospect.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <%= link_to "Export CSV", research_path(@research, format: :csv), class: "mb-5 btn btn-info" %>
      </div>
    </div>
  </div>
</div>
