<div class="researcheshow1">
      <h1 class="indexh2"> </i> Your Database</h1>

  <div class="divclass1">
    <div class="divclass2">
        <h4>Filtres:</h4>
        <ul class="researchesshow list-group">
          <% grouped_options = @research.filters.includes(:feature, :option).group_by { |filter| filter.feature.title }.transform_values do |filters|
                filters.map do |filter|
                  if filter.option.present?
                    filter.option.value
                  else
                    "18 years old to 75 years old"
                  end
                end.uniq
             end
          %>
          <% grouped_options.each do |feature_title, options_values| %>
            <li class="list-group-item">
              <strong><%= feature_title %> :</strong> <%= options_values.join(', ') %>
            </li>
          <% end %>
        </ul>
      </div>

    <div class="divclass4">
      <div class="border p-4 rounded shadow mb-4">
        <h2 class="mb-3" >Prospects : <%= @research.prospect_count %> <i class="fas fa-user"></i> </h2>
        <div class="researchesshow">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <% @prospects.limit(20).each do |prospect| %>
                <tr>
                  <td><%= prospect.first_name %></td>
                  <td><%= prospect.last_name %></td>
                  <td><%= prospect.address %></td>
                  <td><%= prospect.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <%= link_to "Export CSV", research_path(@research, format: :csv), class: "mb-5 btn btn-info" %>
      </div>
    </div>
  </div>
</div>
