<div data-search-target="results">
  <% @prospects.each do |prospect| %>
    <div>
      <h3><%= prospect.first_name %> <%= prospect.last_name %></h3>
      <p>Email: <%= prospect.email %></p>
      <p>Address: <%= prospect.address %></p>
      <ul>
        <% prospect.items.each do |item| %>
          <li><%= item.feature.title %>: <%= item.option&.value || item.value %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>