<div data-search-target="results">
<div class="main-container1">
    <div class="search-container1">
    </div>
    <div class="results-container1">
      <% @prospects.each do |prospect| %>
        <div class="prospect1">
          <h3><%= prospect.first_name %> <%= prospect.last_name %></h3>
          <p>Email: <%= prospect.email %></p>
          <p>Address: <%= prospect.address %></p>
          <ul>
            <% prospect.items.each do |item| %>
              <li><%= item.feature.title %>: <%= item.option&.value || item.value %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
</div>
</div>