<div class="main-container1">
<div class="search-container1">
<div class="thesearchbarcard" data-controller="search">
  <%= form_with url: data_search_path, data: { action: "submit->search#find", search_target: "form" }, method: :get do |form| %>
    <%= form.label :first_name, "First name" %>
    <%= form.text_field :first_name, value: params[:first_name] %>
    
    <%= form.label :last_name, "Last name" %>
    <%= form.text_field :last_name, value: params[:last_name] %>
    
    <%= form.submit "Search" %>
  <% end %>

  <div class="resultssearchbar" data-search-target="results">
  </div>
</div>
</div>
</div>