<div class="filter-box">
  <% @features.each do |feature| %>
    <div class="feature-options d-none">
      <div class="feature-name">
        <h2 data-category-target="otpdisplay"><%= feature.title %></h2>
      </div>
      <div class="feature-options-list d-flex">
        <% if feature.title == "age" %>
          <%= render 'filters/age' %>
        <% else %>
          <% feature.options.each do |option| %>
            <% if @research.option_ids.include?(option.id) %>
              <div class="px-2">
                <%= simple_form_for [@research, @filter], url: research_toggle_path(@research), html: { data: {options_target: "form"}} do |f| %>
                  <%= f.hidden_field :option, value: option.value %>
                  <%= f.button :submit,
                               option.value,
                               class: "btn-options-box btn-background-unavailable",
                               data: {
                                options_target: "btn-options-box",
                                action: "click->options#displayOpt"
                                } %>
                <% end %>
              </div>
            <% else %>
              <div class="px-2">
                <%= simple_form_for [@research, @filter], url: research_toggle_path(@research), html: { data: {options_target: "form"}} do |f| %>
                  <%= f.hidden_field :option, value: option.value %>
                  <%= f.button :submit,
                               option.value,
                               class: "btn-options-box btn-background-available",
                               data: {
                                options_target: "btn-options-box",
                                action: "click->options#displayOpt"
                                } %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
